.hero {
    background-image: none;

    &__jarallax-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -100;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);

        &__inner {
            background-position: 0 100%;
            background-size: cover;
            background-repeat: no-repeat;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            margin-top: 0;
            transform: translate3d(0px, 0px, 0px);
        }
    }
}

.featured-projects {
    &__portfolio-grid {
        position: relative;
        overflow: hidden;
        height: 880px;
        transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

        &__block {
            &--1 {
                position: absolute;
                top: 0;
                visibility: visible;
                will-change: transform;
                left: 0;
                opacity: 1;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: transform, opacity;
                height: 700px;
            }

            &--2 {
                position: absolute;
                top: 0;
                visibility: visible;
                will-change: transform;
                left: 0;
                opacity: 1;
                transform: translate(440px, 0px) scale(1);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: transform, opacity;
                height: calc(350px - var(--si-gutter-x) * .5)
            }

            &--3 {
                position: absolute;
                top: 0;
                visibility: visible;
                will-change: transform;
                left: 0;
                opacity: 1;
                transform: translate(880px, 0px) scale(1);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: transform, opacity;
                height: calc(350px - var(--si-gutter-x) * .5);
            }

            &--4 {
                position: absolute;
                top: 0;
                visibility: visible;
                will-change: transform;
                left: 0;
                opacity: 1;
                transform: translate(440px, 440px) scale(1);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: transform, opacity;
                height: calc(350px - var(--si-gutter-x) * .5);
            }
        }
    }
}
